@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Cinzel:wght@600&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
body{

  background-image:linear-gradient(to right top, #2cbe72, #00b27e, #00a586, #00988a, #008a88, #0e8b85, #1a8d82, #238e7f, #3c9e74, #64ab60, #93b649, #c8bb36); 
   height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: Cinzel;
 background-repeat: no-repeat;
}
.App{
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
.container{
  position: absolute;
  top:0px;
 left:0px;
 height:100vh;
  width:100vw;
  background-size: contain ;
 background-position: center;
  background-image: '';
  background-repeat: no-repeat;
/*background-image: url('https://artfiles.alphacoders.com/681/68159.jpg');*/
  filter: blur(50px) contrast(200%);
}
.animat{
  animation: animation1 0.5s linear;
}
.main-div{
  border:2px solid white;
  padding:20px;
  /*animation: hello 0.5s linear infinite;*/
  z-index:8;
}
.Main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /*height:10vh;*/
 /* background-image: linear-gradient(to right top, #2cbe72, #00b27e, #00a586, #00988a, #008a88, #0e8b85, #1a8d82, #238e7f, #3c9e74, #64ab60, #93b649, #c8bb36); 
 */width:30vw;
 
 background-color: white;
  box-shadow: 8px 8px 10px teal;
  z-index:5;
  border-radius: 30px;
  padding:20px;
}
.Main > h1, .Main > p{
  position: relative;
  top:0px;
  text-align: center;
  color:black;
  margin:15px;

}
img{
  height:50vh;
  padding-right:40px;
/*  width:30vw;*/
 animation: animation2 2s linear infinite;
 
}
@keyframes animation2{
  from{
    transform: rotateY(0deg);
   
  }
  to{
    transform: rotateY(0deg);
   
  }
}
button{
position: relative;
  padding:10px;
  font-size:20px;
  background-color:#EB4933;
  border:2px solid white;
  color:white;
 outline:none;
  border-radius: 20px;
  cursor: pointer;
  font-family: Cantarell;
  

}
button:hover{
transform: scale(1.1);
transition: transform 0.3s ease-in;
}

.button{
  position: absolute;

  bottom:5vh;
  right:10vw;
  z-index: 5;
  
}
.class2{
  position: relative;
  perspective: 500px;;
 
 /*animation: hello 1s linear infinite*/
}


@keyframes animation1 {
from{
 transform: scale(1);
   }
   
  to{
    transform: scale(1.1);
  
  }
}

@media screen and (max-width: 800px) {
  .button{
   
    bottom:85vh;
  }
  
  .Main{
    
    width:70vw;
  }
  .container{
    background-size: cover;
  }
  img{
    display: none;
    width:30vw;
  }
  .Main>h1{
    font-size: 20px;
  }
  p{
    font-size: 15px;;
  }
 
}
@media screen and (max-width: 300px) {
  .Main{
    width:70vw;
  }
}